:root{
  --bg-color1: #212529;
  --bg-color2: #2a2b2d;
}
* {
    padding: 0;
    margin: 0;
    font-family: Cambria;
    box-sizing: border-box;
  }
body{
  min-height: 100vh;
  background-color: var(--bg-color1);
  color: white;
  font-family: Calibri;
  padding: 0 15px;
}
.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 0;
}
.card{
  background-color: var(--bg-color2);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  & p{
    font-size: 14px;
    color: #999;
  }
  & h2{
    font-size: 32px;
    font-weight: 500;
  }
}
.Weather{
  display: Grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  & .Weather-kiri{
      grid-column: span 1;
      & .Weather-today{
          display: flex;
          justify-content: space-between;
          align-items: center;
          & h2{
              margin: 7px 0;
          }
          & p{
            color: white;
          }
      }
      & .Card-footer p{
          font-size: 14px;
          margin-bottom: 12px;
      }
      & .besokitem{
          display: Grid;
          grid-template-columns: repeat(3, 1fr);
          place-items: center;
          margin-bottom: 15px;
          & .besokicon{
            display: flex;
            align-items: center;
          }
      }
  }
  & .Weather-kanan{
    grid-column: span 3;
    & h2{
      margin-bottom: 10px;
    }
    & .highlights{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      & .card-head{
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
      }
      & .card-item{
          display: flex;
          justify-content: space-between;
      }
    }
    & .hourly-forecast{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        & .card{
          text-align: center;
        }
    }
  }
}